@page "/"

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <MudGrid Spacing="4">
        <MudItem lg="5" Class="pt-6 d-flex flex-wrap align-center">
            <div>
                <MudText Class="d-flex flex-1" Typo="Typo.h3">Improve your SKILLS</MudText>
                <MudText Class="d-flex flex-1" Typo="Typo.body1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</MudText>
            </div>
        </MudItem>
        <MudItem lg="7" d-flex align-content-center>
            <MudImage Fluid="true" Src="/img/hero.svg" />
        </MudItem>
    </MudGrid>
</MudContainer>


<SectionContent SectionName="top-menu">
    <MudButton Href="/app" Variant="Variant.Filled" Color="Color.Secondary">Go to Dashboard</MudButton>
</SectionContent>